.episodes {
    display: flex;
    flex-direction: column;
    margin: 0 300px;
    align-items: center;
}

.episodes img {
    margin: 30px 0;
}

.episodes button {
    margin: 80px 0;
}

.episodesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}